node_modules
monitorjs.txt
chromedriver.exe
91_Discord_logo_logos-512.ico
91_Discord_logo_logos-512.png
Capture.JPG
Presentation1.jpg

Presentation1.png
Presentation1.pptx


header.jpg

header1.png
favela
imageedit_1_7582590144.png

imageedit_5_5193997436.png

monitor.JPG
monitor.ico
monitor10.JPG
monitor2.JPG
monitor3.JPG
monitor3.ico
monitor4.JPG
monitor5.png
monitor6.JPG
monitor6.png
monitor8.JPG
monitor8.png

nsb.JPG
pptF1AC.pptm - AutoRecovered.pptm
som.JPG
tease.JPG
tease1blue.png
tease2.JPG
yeezy.jpg